body {
  font-family: Arial, sans-serif;
  background-color: #4d4797;
}

.homepage-container {
  padding: 20px;
  padding-top: 70px; /* Adjust according to the height of the Navbar */
  background-color: #4d4797; /* Light background for the page */
}

.events-container {
  display: grid; /* Use CSS Grid for a responsive layout */
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Responsive columns */
  gap: 20px; /* Space between items */
  padding-top: 20px;
}

.event-item {
  position: relative; /* Position relative to allow absolute positioning of child elements */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9; /* Slightly off-white background for a modern look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transitions */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.event-item:hover {
  transform: translateY(-5px); /* Lift effect on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.event-details {
  flex: 1;
  padding-right: 40px; /* Space for the admin actions */
}

.event-item h2 {
  margin-bottom: 10px;
  font-size: 1.25rem; /* Adjust font size */
  color: #333; /* Darker text color for contrast */
}

.event-item p {
  margin: 5px 0;
  font-size: 0.875rem; /* Smaller font size for details */
  color: #666; /* Subtle text color */
}

.event-item button {
  background-color: #ABD699; /* Primary button color */
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
}

.event-item button:hover {
  background-color: #92b683; /* Darker shade on hover */
  transform: scale(1.05); /* Slightly enlarge button on hover */
}

.admin-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px; /* Space between icons */
}

.edit-button,
.delete-button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #007bff; /* Blue color for edit icon */
  font-size: 1.5rem; /* Adjust size of the icon */
  transition: color 0.3s;
}

.delete-button {
  color: #f44336; /* Red color for delete icon */
}

.edit-button:hover,
.delete-button:hover {
  color: #0056b3; /* Darker blue for edit icon on hover */
}

.delete-button:hover {
  color: #c62828; /* Darker red for delete icon on hover */
}

.logout-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #d32f2f; /* Darker shade for hover effect */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  margin-right: 10px;
}

/* Edit form styles */
.edit-form-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%; /* Full width */
  max-width: 600px; /* Maximum width for large screens */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}

.input-field {
  display: block;
  width: calc(100% - 20px);
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.edit-actions {
  display: flex;
  justify-content: space-between;
}

.save-changes-button,
.cancel-edit-button {
  background-color: #ABD699; /* Primary button color */
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.save-changes-button:hover,
.cancel-edit-button:hover {
  background-color: #92b683; /* Darker shade on hover */
  transform: scale(1.05); /* Slightly enlarge button on hover */
}

.cancel-edit-button {
  background-color: #f44336; /* Red color for cancel button */
}

.cancel-edit-button:hover {
  background-color: #d32f2f; /* Darker shade for cancel button hover effect */
}
