/* Navbar styling */
.navbar {
  display: flex;
  font-weight: 600;
  justify-content: space-between; /* Adjusted for better spacing */
  align-items: center;
  padding: 20px 20px;
  background-color: #6559eb; /* Background color for the navbar */
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed; /* Ensure the navbar stays fixed at the top */
  width: 100%; /* Full width */
  top: 0; /* Stick to the top */
  z-index: 1000; /* Ensure it stays above other content */
  left: 0; /* Align to the left edge */
}

/* Container for left and right side of the navbar */
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-left {
  margin-right: auto; /* Pushes the .nav-right to the right */
}

.nav-right {
  margin-left: auto; /* Ensures proper alignment */
}

/* Navbar items styling */
.nav-item {
  margin: 0; /* Remove default margin */
  padding: 10px 20px; /* Reduced padding */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center; /* Align text vertically in the center */
  height: 100%; /* Make sure the item takes up the full height of the navbar */
}

.nav-item:hover,
.nav-item.active {
  background-color: #3f2bb3;; /* Darker blue on hover and active state */
  color: #fff; /* White text color for better contrast */
  border-radius: 4px;
}

/* Logo styling */
.logo {
  width: 150px; /* Reduced width */
  height: 38px; /* Reduced height */
  background-image: url("../image/logo.png"); /* Path to your logo image */
  background-size: contain; /* Ensures the logo scales properly */
  background-position: center;
  cursor: pointer; /* Makes the logo look clickable */
  margin-right: 20px;
  background-color: transparent;
}

/* Avatar container styling */
.avatar-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 10px;
}

/* Avatar styling */
.avatar {
  width: 40px; /* Reduced width */
  height: 40px; /* Reduced height */
  border-radius: 50%;
  background-color: #fff;
  background-image: url("../image/avatar.png"); /* Path to your avatar image */
  background-size: cover;
  background-position: center;
  margin-right: 50px; /* Adjusted margin */
  cursor: pointer; /* Makes the avatar look clickable */
}

/* Tooltip styling */
.tooltip {
  display: none; /* Hide tooltip by default */
  position: absolute;
  top: 43px;
  right: 0;
  color: white;
  background-color: #333; /* Dark background for the tooltip */
  border-radius: 4px;
  font-size: 12px; /* Reduced font size */
  white-space: nowrap;
}

.avatar-container:hover .tooltip {
  display: block; /* Show tooltip on hover */
  margin-right: 25px; /* Adjusted margin */
}
