/* reserveseatspage.css */

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../image/background.jpg'); /* Adjust the path as needed */
  background-size: cover;
  background-position: center;
  filter: blur(6px); /* Add blur effect to the background */
  z-index: -1; /* Ensure the background stays behind other content */
}

.page-container {
  position: relative; /* Ensure other elements respect the stacking context */
  width: 800px;
  margin: 0 auto;
  z-index: 1; /* Keep main content above background */
}

.top-left-corner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: -150px;
  margin-left: -400px;
  color: white; /* Set text color */
}

.square {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  border: solid;
}

.yellow {
  background-color: rgb(255, 238, 0);
  margin-top: -18px;
  margin-left: -30px;
}

.red {
  background-color: rgb(184, 33, 33);
  margin-top: -18px;
  margin-left: -30px;
}

.green {
  background-color: rgb(22, 214, 22);
  margin-top: -18px;
  margin-left: -30px;
}

.orange {
  background-color: rgb(255, 123, 0);
  margin-top: -18px;
  margin-left: -30px;
}

.upp {
  margin-bottom: -5px;
}

.hall-layout {
  font-size: 30px;
  font-weight: 500;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; /* Set text color */
}

.stage {
  width: 600px;
  height: 70px;
  background-color: #bd1c1c; /* Changed background color to blue */
  color: white; /* Text color */
  font-weight:bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Adding shadow for a modern look */
}

.parter {
  font-size: 24px; /* Increased font size */
  font-weight: bold; /* Bold font */
  color: white; /* Text color */
  margin-bottom: 40px;
  
}

.balkon {
  font-size: 24px; /* Increased font size */
  font-weight: bold; /* Bold font */
  color: white; /* Text color */
  margin-top: 30px; /* Adjust margin as needed */
  margin-bottom: 40px;
  
}

.seats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: -30px;
}

.seats-row {
  display: flex;
}

.seats-row-container {
  display: flex;
}

.horizontal-gap {
  margin-top: 30px; /* Adjust the horizontal gap as needed */
}

.seat-number {
  margin-right: 10px; /* Adjust the space between letter and seat */
  font-size: 1rem; /* Adjust the font size of the seat letter */
  font-weight: bold; /* Bold font */
  color: white; /* Text color */
  margin-top: 0.4rem;
}

.seat {
  width: 15px;
  height: 20px;
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
}

.available {
  background-color: rgb(22, 214, 22);
}

.unavailable {
  background-color: rgb(184, 33, 33);
}

.selected {
  background-color: rgb(255, 238, 0);
}

.reserved {
  background-color: rgb(255, 123, 0);
  cursor: not-allowed;
}

.buy-button,
.reserve-button {
  padding: 10px 20px;
  background-color: #bd1c1c;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px auto; /* Center the button and add spacing */
}

.buy-button:hover,
.reserve-button:hover {
  background-color: #303f9f;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

h1 {
  font-size: 36px;
  color: #3f51b5;
  margin-bottom: 20px;
  text-align: center;
}

.corner-component {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.reservation-timer-container {
  position: fixed;
  top: 20px; /* Adjust as needed to position the timer */
  right: 20px; /* Adjust as needed to position the timer */
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
