body {
  font-family: Arial, sans-serif;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1B4543; /* Adjust the path as needed */
  background-size: cover;
  background-position: center;
   /* Add blur effect to the background */
  z-index: -1; /* Ensure the background stays behind other content */
}

.page-container {
  position: relative; /* Ensure other elements respect the stacking context */
  width: 800px;
  margin: 0 auto;
  z-index: 1; /* Keep main content above background */
}

.top-left-corner {
  display: flex;
  flex-direction: column;
  
 
  
}

.myselection{
  background-color: rgb(255, 238, 0);
  border: 2px solid rgb(139, 37, 37);
}

.yellow {
  background-color: #fbff00;
  
}

.red {
  background-color: rgb(139, 37, 37);
  
}

.green {
  background-color: #B3D06C;

}

.orange {
  background-color: #ffac27;

}

.upp {
  margin-bottom: -5px;
  font-weight: 600;
}

.hall-layout {
  font-size: 30px;
  font-weight: 500;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; /* Set text color */
}

.stage {
  width: 600px;
  height: 70px;
  background-color: #ffffff; /* Updated to a shade of blue */
  color: #F0BE6F; /* Text color */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Updated box-shadow for a softer effect */
  font-size: 40px;
  font-weight: 700;
}

.parter {
  font-size: 24px; /* Increased font size */
  font-weight: bold; /* Bold font */
  color: white; /* Text color */
  margin-bottom: 40px;
}

.balkon {
  font-size: 24px; /* Increased font size */
  font-weight: bold; /* Bold font */
  color: white; /* Text color */
  margin-top: 30px; /* Adjust margin as needed */
  margin-bottom: 40px;
}

.seats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: -30px;
}

.seats-row {
  display: flex;
}

.seats-row-container {
  display: flex;
}

.horizontal-gap {
  margin-top: 30px; /* Adjust the horizontal gap as needed */
}

.seat-number {
  margin-right: 10px; /* Adjust the space between letter and seat */
  font-size: 1rem; /* Adjust the font size of the seat letter */
  font-weight: bold; /* Bold font */
  color: white; /* Text color */
  margin-top: 0.3rem;
}

.seat {
  width: 15px;
  height: 20px;
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
}

.available {
  background-color: #B3D06C /* Green for available seats */
}

.unavailable {
  background-color: rgb(139, 37, 37); /* Red for unavailable seats */
}

.selected {
  background-color: #fbff00; /* Yellow for selected seats */
}

.reserved {
  background-color: #ffac27; /* Orange for reserved seats */
  cursor: not-allowed;
}

.seat.user-selection {
  
  background-color: white;
  
}


.confirm-order-button {
  padding: 10px 20px;
  background-color: #bd1c1c;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px auto; /* Center the button and add spacing */
}

.reserve-button {
  padding: 10px 50px;
  background-color: #ffffff;
  border: none;
  color: #F0BE6F;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 0.4s;
  margin: 30px auto; /* Center the button and add spacing */
}

.confirm-order-button:hover,
.reserve-button:hover {
  background-color: #b3d0b3;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

h1 {
  font-size: 36px;
  color: #3f51b5;
  margin-bottom: 20px;
  text-align: center;
}

.corner-component {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.reservation-timer-container {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 10; /* Ensure the timer is above other content */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #333;
}

.timer {
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.total-price {
  margin-bottom: 30px;
  margin-top: 10px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  background-color: #1B4543;
  padding: 10px;
  color: white;
  border-radius: 5px;
  border-bottom: 1px solid #FFFFFF; /* Add this line */
}


.nav-left,
.nav-right {
  
  align-items: center;
}

.nav-item {
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.3s ease;
  color: #ffffff;
  font-weight: 500;
}

.nav-item:hover {
  color: #ffeb3b;
}

.avatar-container {
  position: relative;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url('../image/avatar.png'); /* Avatar image */
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}

.logo {
  width: 80px;
  height: 50px;
  border-radius: 50%;
  background-image: url('../image/logo2.png'); /* Avatar image */
  background-size: cover;
  background-position: center;
  margin-left: 20px;
}

.tooltip {
  display: none;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 1000;
}

.avatar-container:hover .tooltip {
  display: block;
}

.nav-item.dropdown-container {
  position: relative;
  display: inline-block;
}

.nav-item .dropdown {
  display: none;
  position: absolute;
  top: 40px; /* Position the dropdown directly below the Help item */
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  color: black;
  white-space: nowrap; /* Prevent the text from wrapping */
}

.nav-item.dropdown-container:hover .dropdown {
  display: block;
}
